@import './base.css';

#app {
 
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;

  transition: 0.4s;
}
.router-link-active {
  background-color: #41b883 !important;
  color:white !important;
}
.nav-link:not(.router-link-active){
  color:#41b883 ;
}
.nav-link:hover{
  color:#41b883 !important;
}
.form-floating {
  margin: 10px;
}
textarea {
  height: 100% !important;
}

